form {
  display: flex;
  flex-direction: column;
  // align-content: center;
  // justify-content: center;
  align-items: center;
  // height: 100%;
}

mat-form-field {
  // display: flex;
  width: 18.75rem;
  // height: 100%;
  // align-content: center;
  // justify-content: center;
}
